.sub-title{
    margin: 0 20px;
}

main .contact-form > div{
    margin: 15px 0;
}

main .contact-form > div label {
    display: block;
    margin-bottom: 10px;
}

main .contact-form input,
main .contact-form select,
main .contact-form textarea{
    width: 90%;
    padding: 5px 15px;
    outline-color: dodgerblue;
}

main .contact-form select{
    width: 100%;
}

.margin-horizontal-20px {
    margin-left: 20px;
    margin-right: 20px;
}

main .contact-form textarea{
    resize: none;
    padding-top: 15px;
}

main .contact-form > div input[type="radio"],
main .contact-form > div input[type="checkbox"]{
    width: 25px;
}

main .contact-form > div:nht-child(4) span{
    color: dodgerblue;
}

main .contact-form > div input[type="submit"],
main .contact-form > div input[type="reset"]{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 1.1em;
}

main .contact-form > div input[type="submit"]{
    background-color: dodgerblue;
    padding: 10px;
    font-weight: bold;
}

main .contact-form > div input[type="reset"]{
    background-color: red;

}

@media screen and (min-width: 992px) {
    main .contact-form{
        width: 60%;
        border-radius: 20px;
        padding: 25px;
        margin: 25px auto;
    }

    main .contact-form input,
    main .contact-form textarea{
        width: 95%;
        
    }

    main .contact-form select{
        width: 40%;
    }
}