.img-logo {
    text-align: center;
    
}

.button-login {
    border-bottom-style: double;
    border-bottom-color: dodgerblue ;
    padding-bottom: 0% ;
    
}

.botoes{
    font-size: larger;
    text-align: center;
    color: dodgerblue;
}